
body{
    background-color: gray; 
    color: antiquewhite; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    text-align: center; 
}
h1{
color: brown;

}
p{
color:darkorange;
font-size: 36px;
}
a{

}

