section{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}
p{
    font-size: 10px;
}

.link {
    text-align: center;
    font-size: 45px;
}

.one{
color: aqua;
}

.two{
color: orange;
}

.there{
color: greenyellow;
}

.list{
    list-style: none;
    display: flex;
}

#parage{
    font-size: 30px;
}

body{
    font-family: 'Courier New', Courier, monospace;
}

.underline {
}
.uppercase {
}
.space {
}